.cookie-panel {
  display: flex;
  justify-content: center;
}

.cookie-panel .btn {
  font-weight: 500;
}

.cookie-consent-banner {
  position: fixed;
  bottom: 72px;
  display: none;
  padding: 16px 24px;
  margin: 0 8px;
  border-radius: 16px;
  z-index: 1050;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.cookie-consent-banner--svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.cookie-consent-banner .cookie-consent-banner-text a {
  color: inherit;
  text-decoration: underline;
}

.cookie-panel .cookie-consent-banner .btn-no-hover:hover {
  background: inherit;
  color: inherit;
}

.cookie-panel.cookie-panel-dark .cookie-consent-banner .btn-no-hover {
  border: none;
  background: #8C8C8C4D;
}

.cookie-panel.cookie-panel-dark .cookie-consent-banner {
  background: #3f3f3f;
  color: #fff;
}

.cookie-panel.cookie-panel-dark .cookie-consent-banner .cookie-consent-banner-accept-button {
  color: #056640;
  background: #fff;
}

.cookie-panel.cookie-panel-dark .cookie-consent-banner .cookie-consent-banner-accept-button:hover {
  background: #d1e3dc;
}

.cookie-panel.cookie-panel-light .cookie-consent-banner {
  background: #fff;
  color: #3f3f3f;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.10);
}

.cookie-panel.cookie-panel-light .cookie-consent-banner .cookie-consent-banner-accept-button {
  background: #056640;
  color: #fff;
}

.cookie-panel.cookie-panel-light .cookie-consent-banner .cookie-consent-banner-accept-button:hover {
  background: #165d40;
}

.cookie-consent-banner.shown {
  display: flex;
}

.cookie-consent-banner .cookie-consent-banner-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.cookie-consent-banner .cookie-consent-banner-buttons .cookie-consent-banner-accept-button {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#cookie-consent-banner-text-extended {
  display: none;
}

@media (min-width: 768px) {
  .cookie-consent-banner .cookie-consent-banner-buttons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cookie-consent-banner .cookie-consent-banner-buttons .cookie-consent-banner-accept-button {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .cookie-consent-banner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .cookie-consent-banner {
    min-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .cookie-consent-banner {
    min-width: 1280px;
  }
}

div[role="dialog"].modal.cookies {
  overflow-y: auto;
}

div[role="dialog"].modal.cookies .modal-dialog .modal-content {
  border-radius: 16px;
  overflow: hidden;
}

div[role="dialog"].modal.cookies .modal-dialog {
  max-width: 768px;
}

.cookies .modal-header {
  background-color: #262626;
  min-height: 80px;
  align-items: center;
}

.cookies .modal-header .modal-title {
  color: #fff;
  font-family: inherit;
}

.cookies .modal-header .close {
  color: #fff;
  text-shadow: none;
  opacity: unset;
}

.cookies .modal-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
}

.cookies .modal-body .cookie-modal-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  margin-bottom: 26px;
}

.cookies .modal-body .cookie-modal-sidebar .item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  min-height: 40px;
}

.cookies .modal-body .cookie-modal-sidebar .item .item-name {
  flex-grow: 1;
}

.cookies .modal-body .cookie-modal-sidebar .item .checkmark {
  margin-right: 10px;
  width: 15px;
  fill: #ff5e59;
}

.cookies .modal-body .cookie-modal-sidebar .item:not(.selected) {
  background-color: #e9e9e9;
}

.cookies .modal-body .cookie-modal-main {
  padding: 20px;
  flex: 1;
  display: none;
  flex-direction: column;
  width: 100%;
  max-height: 320px;
}

.cookies .modal-body .cookie-modal-main.open {
  display: flex;
}

.cookies .modal-body .cookie-modal-main .heading {
  display: flex;
  margin-bottom: 20px;
}

.cookies .modal-body .cookie-modal-main .heading .heading-text {
  flex-grow: 1;
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 500;
}

.cookies .modal-body .cookie-modal-main .heading .heading-state {
  font-size: 16px;
  margin-left: 20px;
}

.cookies .modal-body .cookie-modal-main .heading .heading-state.active {
  color: #056640;
}

.cookies .modal-body .cookie-modal-main .heading .heading-state.inactive {
  color: #8c8c8c;
}

.cookies .modal-body .cookie-modal-main .text {
  overflow-y: auto;
}

.cookies .modal-body .cookie-modal-main .text,
.cookies .modal-body .cookie-modal-main .text p {
  color: #3f3f3f;
  line-height: 20px;
  text-align: justify;
}

.cookies .modal-body .cookie-modal-main .text p {
  margin-bottom: 10px;
}

.cookies .modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.cookies .modal-footer .btn {
  margin: 0;
}

.cookies .modal-footer .modal-footer--accept-btn {
  background: #056640;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-column: span 2;
}

@media (min-width: 576px) {
  .cookies .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .cookies .modal-body .cookie-modal-sidebar {
    width: initial;
    margin-bottom: 0;
  }

  .cookies .modal-body .cookie-modal-sidebar .item {
    min-height: 80px;
  }

  .cookies .modal-body .cookie-modal-main {
    padding-left: 20px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-bottom: 0;
}

.switch.disabled {
  opacity: 0.5;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #056640;
}

input:focus + .slider {
  box-shadow: 0 0 1px #056640;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}
